.FormBtnTitle{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: red;
 
}
.ToFormBtn{
    background: rgb(156, 173, 180);
    display: flex;
    margin: 1px;
    justify-content: center;
    border: 2px solid black; 
    width: 100%
;}