.LifeListHeader{
    display: flex;
    justify-content: center;
    height: 100px;
    /* background-image: url("https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/altocumulus.jpg/altocumulus.jpg/metofficegovuk%3AheroXLarge") ; */
    background-position: center;
    background-size: inherit;
    }

.containerForBirdDescription{
    /* add padding */
   margin-bottom: 50px;
}

.birdImage{
    margin-bottom: 100px;
}