.LifeListHeader{
    display: flex;
    justify-content: center;
    height: 100px;
    /* background-image: url("https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/altocumulus.jpg/altocumulus.jpg/metofficegovuk%3AheroXLarge") ; */
    background-position: center;
    background-size: inherit;
    }

.containerForBirdDescription{
    /* add padding */
   margin-bottom:100px;
}

.lifeListDiv{
    display: flex;
   border: 2px solid black;
   padding: 20px;
   

}
.birdImage{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    border-spacing: 1px;
    
    
    
   
   

    
}
.lifeListContainer{
    background-image: url('https://images.pexels.com/videos/3129769/free-video-3129769.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: contain
}