.LifeListHeader{
    /* display: flex; */
    margin-left: 50%;
    height: 100px;
    /* background-image: url("https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/altocumulus.jpg/altocumulus.jpg/metofficegovuk%3AheroXLarge") ; */
    background-position: center;
    background-size: inherit;
    }

.containerForBirdDescription{
    /* add padding */
   margin-bottom:100px;
}

.lifeListDiv{
   /* display: flex; */
   border: 2px solid black;
   padding: 20px;
}
.imgDiv{
    /* display: flex; */
}
.birdImage{
    border: 3px solid black;
    /* display: flex; */
    flex-wrap: wrap;
   
    border-spacing: 1px;
    
}
.toggleDlt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}

.commonNameTtl{
    text-align: center;
   
}
    

.lifeListContainer{
    background-image: url('https://images.pexels.com/videos/3129769/free-video-3129769.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: contain;
    justify-content: center;
    padding-top: 20px;
}

.LDetailButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 10px;
    height: 75px;
    align-items: center;
    margin-right: 100px;
    background: rgb(134, 165, 179);

}

.MUIeditBtn{
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.btnBox{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1px;
    margin-top: 10px;
    
    
}

.submitChange{
    border: 2px solid black;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    line-height: 1px;
    padding-top: 10px;
    background:rgb(134, 165, 179);
}
.cancelSubmit{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px
}

.cancelBtn{
    border: 2px solid black;
    margin-top: 10px;
    width: 100px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1px;
    background:rgb(134, 165, 179);

}
.cancelChange{
    display: flex;
    flex-direction: column;
}

.markAsSpotted{
    margin-left: 30px;
    margin-top: 10px;
    background: rgb(134, 165, 179);

}

.detailPageTitle{
    border: 2px solid black;
    padding: 10px;
}