

input{
    margin: 10px;
    line-height: 3em;
    width: 20%;
    text-align: center;
    display: flex
  }
  
  .commonNameInput{
    display: flex;
    flex-direction: column;
    width: 20%;
   
  }
  

.ImageBtn{
    line-height: inherit;
    height: 35px;
 
}

.imageInputAndBtn{
    display: flex;
    align-items: center;

}


.formSubmitBtn{
    margin-left: 75px
}