.inputContainer{
  line-height: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(191, 182, 184);
  padding: 20px;
}

input{
    line-height: 4em;
    text-align: center;
    display: flex;
    width: 350px;
    background-color: rgb(191, 182, 184);
  }
  

.ImageBtn{
    margin-left: 10px;
}

.InputAndBtn{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border: 2px solid black;
}


.redBorder{
  border: 2px solid red;
}